/* Общие стили для .app-files */
body .app-files {
    --color-primary-element: #70B62B !important;
    --color-primary-element-hover: #6faf2e !important;
    --color-primary-element-light-hover: #ffffff !important;
    /* --default-clickable-area: 20px; */
    --color-background-hover: #ffffff !important;
    --sidebar-pad: 0px;
    --vs-border-width: 1px solid #E6E6E6;

    & button.button-vue--vue-secondary {
        /*padding: 3px 17px 3px 6px;*/
        padding: 0px 17px 0px 6px !important;
    }

    & .material-design-icon.checkbox-blank-outline-icon > svg {
        color: #808080 !important;
    }
    & .material-design-icon.folder-icon > svg {
        color: #808080 !important;
    }

    & .material-design-icon.chart-pie-icon:after {
        background-image: url('/themes/forbion/images/file.svg') !important;
        content: '';
        position: absolute;
        top: 9px;
        left: 10px;
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    & .material-design-icon.chart-pie-icon > svg {
        display: none;
    }
    & .material-design-icon.cog-icon:after {
        background-image: url('/themes/forbion/images/gear.svg') !important;
        content: '';
        position: absolute;
        top: 9px;
        left: 10px;
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    & .material-design-icon.cog-icon > svg {
        display: none;
    }
    & .material-design-icon.menu-open-icon:after {
        background-image: url('/themes/forbion/images/exit.svg') !important;
        content: '';
        position: absolute;
        top: 9px;
        left: 10px;
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    & .material-design-icon.menu-open-icon > svg {
        display: none;
    }
    & .material-design-icon.format-list-bulleted-square-icon:after {
        background-image: url('/themes/forbion/images/pallet.svg') !important;
        content: '';
        position: absolute;
        top: 12px;
        left: 13px;
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    & .material-design-icon.format-list-bulleted-square-icon > svg {
        display: none;
    }
    & .material-design-icon.view-grid-icon:after {
        background-image: url('/themes/forbion/images/pallet.svg') !important;
        content: '';
        position: absolute;
        top: 12px;
        left: 13px;
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    & .material-design-icon.view-grid-icon > svg {
        display: none;
    }

    & span {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 14px;
    }

    & .button-vue__icon,
    & .app-navigation-entry-icon {
        & .icon-vue > svg > path {
            color: #808080 !important;
        }
    }

    & .app-navigation__left-sidebar-outer {
        display: flex;

        .app-navigation__add-button{
            width: 200px;
            height: 40px;
            position: relative;
            display: flex;
        }
    }

    & .app-navigation {
        margin-right: 8px !important;
        background-color: unset !important;
        color: #808080 !important;

        & .app-navigation__search {
            width: 300px !important;
            min-height: 48px !important;

            & .breadcrumb__actions {

                & .files-list__header-share-button {
                    display: none;
                }

                & .material-design-icon .material-design-icon__svg > path {
                    color: white !important;
                }

                & .upload-picker {
                    height: 40px !important;
                    width: 100% !important;
                    margin-bottom: 8px;

                    & .action-item > div > button {
                        color: white;
                        width: 300px;
                        background-color: #70B62B !important;
                        height: 40px;
                        /*gap: 8px;*/
                        padding: 10px 14px;
                        border-radius: 8px;

                    }
                    & .action-item > div > button:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 37px;
                            width: 2px;
                            height: 100%;
                            background: #ffffff;
                            pointer-events: none;
                    }
                    & .action-item > div > button:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 12px;
                        transform: translateY(-50%);
                        width: 16px;
                        height: 16px;
                        background-image: url("../../images/plus.svg");
                        background-repeat: no-repeat;
                        pointer-events: none;
                    }
                }
            }
        }

        & .app-navigation__body {
            background-color: #FFFFFF;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            /* Скрытие встроенных SVG в иконках */
            & .app-navigation-entry-icon > span > svg {
                display: none;
            }

            /* Базовые стили для псевдоэлемента :after в .icon-vue */
            & .icon-vue:after {
                content: '';
                position: absolute;
                top: 9px;
                left: 10px;
                width: 16px;
                height: 16px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            /* Иконки для элементов навигации с атрибутами data-cy-files-navigation-item */
            & li[data-cy-files-navigation-item="files"] {
                & .app-navigation-entry {
                    & .icon-vue:after {
                        background-image: url('/themes/forbion/images/inbox-mail.svg');
                    }
                    &.active .icon-vue:after {
                        background-image: url('/themes/forbion/images/inbox-mail-white.svg') !important;
                    }
                }
            }

            & li[data-cy-files-navigation-item="personal"] {
                & .app-navigation-entry {
                    & .icon-vue:after {
                        background-image: url('/themes/forbion/images/personal.svg');
                    }
                    &.active .icon-vue:after {
                        background-image: url('/themes/forbion/images/personal-white.svg') !important;
                    }
                }
            }

            & li[data-cy-files-navigation-item="recent"] {
                & .app-navigation-entry {
                    & .icon-vue:after {
                        background-image: url('/themes/forbion/images/recent.svg');
                    }
                    &.active .icon-vue:after {
                        background-image: url('/themes/forbion/images/recent-white.svg') !important;
                    }
                }
            }

            & li[data-cy-files-navigation-item="favorites"] {
                & .app-navigation-entry {
                    & .icon-vue:after {
                        background-image: url('/themes/forbion/images/favorites.svg');
                    }
                    &.active .icon-vue:after {
                        background-image: url('/themes/forbion/images/favorites-white.svg') !important;
                    }
                }
            }

            & li[data-cy-files-navigation-item="shareoverview"] {
                & .app-navigation-entry {
                    & .icon-vue:after {
                        background-image: url('/themes/forbion/images/shareoverview.svg');
                    }
                    &.active .icon-vue:after {
                        background-image: url('/themes/forbion/images/shareoverview-white.svg') !important;
                    }
                }
            }

            & li[data-cy-files-navigation-item="tags"] {
                & .app-navigation-entry {
                    & .icon-vue:after {
                        background-image: url('/themes/forbion/images/tags.svg');
                    }
                    &.active .icon-vue:after {
                        background-image: url('/themes/forbion/images/tags-white.svg') !important;
                    }
                }
            }

            & li[data-cy-files-navigation-item="folders"] {
                & .app-navigation-entry {
                    & .icon-vue:after {
                        background-image: url('/themes/forbion/images/inbox-mail.svg');
                    }
                    &.active .icon-vue:after {
                        background-image: url('/themes/forbion/images/inbox-mail-white.svg') !important;
                    }
                }
            }

            & li[data-cy-files-navigation-item="trashbin"] {
                & .app-navigation-entry {
                    & .icon-vue:after {
                        background-image: url('/themes/forbion/images/trashbin.svg');
                    }
                    &.active .icon-vue:after {
                        background-image: url('/themes/forbion/images/trashbin-white.svg') !important;
                    }
                }
            }
        }
        & .app-navigation-entry__settings {
            background-color: #FFFFFF;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            /* Базовые стили для псевдоэлемента :after в .icon-vue */
        }

    }

    & .app-navigation-toggle-wrapper {
        top: 2px !important;
        inset-inline-end: calc(-4px - var(--app-navigation-padding)) !important;
    }

    & .searchBoxReplace {
        width: 100%;
        background-color: #FFF;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 3px;
        display: none;

        & .input-field__input {
            border: 1px solid #F5F5F5;
            border-radius: 27px;

            padding: 4px 20px 4px 10px;
        }
        & .input-field__input:hover {
            border: 1px solid #F5F5F5;
            border-radius: 27px;

            padding: 4px 20px 4px 10px;
        }
        & .input-field__input:focus {
            border: 1px solid #F5F5F5;
            border-radius: 27px;

            padding: 4px 20px 4px 10px;
        }
    }

    /* Стили для хлебных крошек (Breadcrumb) */
    & .breadcrumb {
        display: inline-flex;
        height: 40px;
    }

    /* Стили для контента и списка файлов */
    & .app-content {

        & .empty-content {
            border-radius: 8px;
            background: #ffffff;
        }

        & .files-list__header {
            margin: 0px 0 8px 0;

            & .file-list__refresh-icon {
                background-color: #FFFFFF !important;
                right: 50% !important;
            }

            & .magnifier-icon {
                background: white;
                height: 40px;
                display: flex;
                align-items: center;
                padding-right: 16px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }

            & .button-vue--vue-tertiary {
                --button-size: 40px;
                background-color: #FFFFFF;
                border-radius: 8px;
                margin-left: 8px;
            }

            & .files-list__header-grid-button {
                & .view-grid-icon > svg > path {
                    color: #808080;
                }
            }

            & .files-list__breadcrumbs {
                background-color: #FFF;
                margin-inline: unset;
                border-bottom-left-radius: 8px;
                border-top-left-radius: 8px;
                padding-left: 30px;

                & .vue-crumb {
                    height: unset;
                }

                & .button-vue__icon {
                    display: none;
                }
            }
        }

        & .files-list {
            background-color: #FFF !important;
            border-radius: 8px !important;
            & .files-list__filters {
                display: none;
            }

            & .files-list__thead-overlay {
                top: 0;
                /*border-block-end: unset;*/
            }
            & .files-list__table {

                & .checkbox-radio-switch__content:hover {
                    background-color: transparent !important;
                }
                & .button-vue--vue-tertiary:hover {
                    background-color: transparent !important;
                }

                & .files-list__thead {
                    top: unset;

                    & .files-list__column--sortable {
                        max-width: 102px;
                    }
                    & .files-list__row-size .button-vue__icon {
                        order: 2;
                    }
                    & .files-list__row-size .button-vue__text {
                        order: 1;
                    }
                }

                & .files-list__tbody {
                    --row-height: calc(var(--icon-preview-size) + var(--name-height) + var(--mtime-height) + var(--item-padding) * 2);
                    --mtime-height: 20px;
                    /*--item-padding: 12px 8px;*/
                    --name-height: 20px;

                    & .files-list__row{
                        padding: 36px 8px 17px !important;
                        border-block-end: unset !important;

                        & .files-list__row-icon {
                            margin-inline-end: 0;
                        }

                        & .files-list__row-name {
                            padding-left: 5px;
                        }

                        & .files-list__row-actions {
                            inset-block-end: unset !important;
                            top: 0;
                        }

                        & .files-list__row-checkbox {
                            --checkbox-container-size: 33px !important;
                            top: 0;
                        }

                        & .files-list__row-mtime {
                            display: none;
                        }

                        & .files-list__row-size {
                            min-width: 45px !important  ;
                        }
                    }

                }

                & .files-list__tfoot {
                    display: none;
                }
            }
        }
        & .files-list .files-list--grid {
            /*стили плиткой*/
        }
    }

    & .app-sidebar {
        & .app-sidebar-header {

            & .app-sidebar-header__info {
                padding-top: 56px;
            }
            & .app-sidebar-header__info .app-sidebar-header__figure {
                width: 200px;
                height: 200px;
                left: calc(50% - 100px);
                border-radius: 4px;
                position: relative;
            }

            & .app-sidebar-header__desc {
                padding-inline: calc(var(--app-sidebar-padding) + 12px);
            }
        }

        & .app-sidebar-tabs {
            & .app-sidebar-tabs__nav {
                border-bottom: unset !important;

                & .button-vue {
                    & .checkbox-content--has-text {
                        border-bottom: 2px solid #E6E6E6 !important;
                    }
                }
                & .button-vue.active {
                    & .checkbox-content--has-text {
                        border-bottom: 2px solid var(--color-primary-element) !important;
                    }
                }
            }
        }
    }
}

.app-files ~ .v-popper__popper .v-popper__wrapper .v-popper__inner,
.app-files + .v-popper__popper .v-popper__wrapper .v-popper__inner {
    padding: unset !important;

    & li.action {
        /*background-color: var(--color-background-hover);*/
        /*border-radius: unset !important;*/
        padding: 8px !important;
    }
    & li.action.active {
        background-color: var(--color-background-hover);
        border-radius: unset !important;
        padding: 8px !important;
    }
}
