/* APP SPREED */
body .app-talk{
    --color-primary-element: #70B62B;
    --color-primary-element-hover: #6faf2e;
    --default-clickable-area: 20px;
    --sidebar-pad: 0px;
}
* .app-talk span{
    font-family: 'Raleway';
}
.app-talk .button-vue--text-only .button-vue__text{
    margin: unset !important;
}
#content-vue .empty-view {
    margin-left: 8px;
    border-radius: 8px;
    background: #ffffff;
}
#content-vue:not(.content) {
    min-height: unset !important;
    padding: unset !important;
}
.app-talk .hidden-visually {
    position: absolute;
     left: -10000px;
    top: -10000px;
     width: 1px;
    height: 1px;
    overflow: hidden;
}
.app-talk .app-content{
    padding-left: 8px;
}
.app-talk .app-sidebar__toggle {
    inset-block-start: calc(var(--app-sidebar-padding) + 47px) !important;
    inset-inline-end: calc(var(--app-sidebar-padding) + 25px + var(--sidebar-pad)) !important;
}
.app-talk .app-navigation {
    background-color: unset !important;
}
.app-talk .app-navigation .app-navigation__list {
    background: var(--color-main-background-blur);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.app-talk .app-navigation .left-sidebar__settings-button-container {
    background: var(--color-main-background-blur);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.app-talk .app-navigation__search {
    margin-bottom: 8px;
    border-radius: 8px !important;
}
.app-talk .conversations-search{
    width: calc(100% - 33px) !important;
    padding: 10px !important;
    background-color:  var(--color-main-background-blur) !important;
    border-radius: 8px;

}
.app-talk .conversations-search--expanded{
    /*width: calc(100% + 33px) !important;*/
}
.app-talk .chatView {
    background-color: var(--color-main-background-blur);
    border-radius: 8px !important;
    margin-top: 8px !important;
}
.app-talk .top-bar {
    min-height: 40px !important;
    height: 40px !important;
    border-bottom: unset !important;
    background-color: unset !important;
    padding-block: unset !important;
    padding-inline: unset !important;
    justify-content: flex-start !important;
    position: relative;
    right: -60px;
}
.app-talk .app-navigation--close .top-bar {
    right: 0 !important;
}
.app-talk .list-item-content__subname {
   display: none !important;
}
.app-talk .main-view {
    height: 100% !important;
    overflow: hidden !important;
}
.app-talk .new-conversation {
    margin: unset !important;
    border-radius: 8px !important;
}
.app-talk .top-bar .v-popper.v-popper--theme-dropdown {
    display: none !important;
}
.app-talk .conversation-icon {
    --icon-size: 28px !important;
    width: 28px !important;
    height: 28px !important;
}
.app-talk .button-vue--vue-secondary {
    background-color: unset !important;
}
.app-talk .new-conversation .filters {
    height: unset;
    width: unset;
    left: unset;
    overflow: unset;
    background-color: var(--color-main-background-blur);
    right: -18px !important;
    padding: 10px !important;
    margin: 0 4px 0 4px !important;
    border-radius: 8px !important;
}
.app-talk .new-conversation .actions {
    height: unset;
    width: unset;
    left: unset;
    overflow: unset;
    right: -65px !important;
    background-color: var(--color-main-background-blur);
    padding: 10px !important;
    margin: 0 4px 0 4px !important;
    border-radius: 8px !important;
}
.app-talk .app-navigation-toggle-wrapper {
     top: calc(var(--app-navigation-padding) + 2px) !important;
     inset-inline-end: calc(0px - var(--app-navigation-padding)) !important;
     margin-inline-end: calc(-1 * var(--default-clickable-area) - 70px) !important;
 }
.button-vue--vue-primary[data-v-c3d9e0ce] {
    /*background-color: unset !important;*/
}
#content-vue.app-talk .top-bar .top-bar__wrapper {
    flex: unset;

}
#content-vue.app-talk .top-bar .top-bar__wrapper .button-vue--vue-primary:after {
    content: '';
    position: absolute;
    top: 0;
    right: 37px;
    width: 2px;
    height: 100%;
    background: #ffffff;
    pointer-events: none;
}
#content-vue.app-talk .top-bar .top-bar__wrapper .button-vue--vue-primary:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("../../images/videoCall.svg");
    background-repeat: no-repeat;
    pointer-events: none;
}
#content-vue.app-talk .top-bar .top-bar__wrapper .button-vue--vue-primary  {
    padding: 7px 45px 8px 6px !important;
}
.app-navigation--close .top-bar-outer {
    width: calc(100%) !important;

}
.top-bar-outer {
    background-color: var(--color-main-background-blur) !important;
    width: calc(100% - 60px);
    height: 40px !important;
    display: flex;
    align-items: center !important;
    border-radius: 8px !important;
}
.top-bar-outer-white-block{
    position: absolute;
    background-color: white;
    height: 40px;
    border-radius: 8px;
    width: 500px;
    z-index: 0;
    /*left: 55px;*/
    right: 0px;
}
.app-talk .button.app-navigation-toggle{
    left: 8px;
}
.app-talk .top-bar--authorised .conversation-icon{
    margin-left: calc(var(--default-clickable-area) + var(--default-grid-baseline) + 20px) !important;
}

.app-talk .app-sidebar-header__desc.app-sidebar-header__desc--without-actions {
    margin: 20px !important;
    height: 69px !important;
    padding: 0 0 0 60px !important;
}

/*Правый сайдбар*/
.app-talk .app-sidebar {
    border-radius: 8px !important;
}
.app-talk .app-sidebar-tabs .app-sidebar-tabs__nav {
    justify-content: space-between !important;
    padding: 0 20px !important;
    margin: unset;
    border-bottom: 2px solid #E6E6E6 !important;
}
.app-talk .app-sidebar-tabs .app-sidebar-tabs__nav #tab-button-participants {
    max-width: 110px;
    min-height: 76px;
    top: 2px;
    border-bottom: 2px solid #E6E6E6 !important;
}
.app-talk .app-sidebar-tabs .app-sidebar-tabs__nav #tab-button-participants.active{
    border-bottom: 2px solid var(--color-primary-element) !important;
}
.app-talk .app-sidebar-tabs .app-sidebar-tabs__nav #tab-button-shared-items {
    max-width: 156px;
    min-height: 76px;
    top: 2px;
    border-bottom: 2px solid #E6E6E6 !important;
}
.app-talk .app-sidebar-tabs .app-sidebar-tabs__nav #tab-button-shared-items.active {
    border-bottom: 2px solid var(--color-primary-element) !important;
}
.app-talk .app-sidebar-tabs .app-sidebar-tabs__nav .checkbox-radio-switch--button-variant.checkbox-radio-switch--checked .checkbox-radio-switch__content {
    --default-grid-baseline: 2px !important;
    padding: unset;
    border-bottom: unset!important;
}

.app-talk .app-sidebar__tab {
    padding: 20px 18px 10px 18px !important;
}
.app-talk .app-sidebar-tabs .app-sidebar-tabs__content .input-field__main-wrapper{
    min-height: 44px;
    height: unset;
    display: flex;
    align-items: center;
}

.app-talk .app-sidebar-tabs .app-sidebar-tabs__content .input-field__main-wrapper .input-field__input {
    min-height: 44px;
    height: 44px;
    border-radius: 4px;
    padding: 11px 12px;
    border: 1px solid #E6E6E6;
    min-width: 100%;
}
.app-talk .app-sidebar-tabs .app-sidebar-tabs__content .input-field__main-wrapper .input-field__icon {
    left: unset !important;
    right: 28px !important;
    position: relative !important;
}

/*Dialog modal*/

.app-talk .dialog__modal .modal-wrapper .modal-container {
    padding-top: 48px !important;
}
.app-talk ul.navigation-list .navigation-list__link {
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.app-talk .navigation-list__link--active {
    background-color: #f5f5f5 !important;
}