<div class="new-letter-wrapper">
	<div class="letter-body">
		<header class="g-ui-user-select-none" data-bind="css: {loading: saving() || sending()}">
			<a class="btn button-save" data-bind="command: saveCommand, tooltipErrorTip: savedErrorDesc, css: {'btn-danger': savedError }">
				<i class="fontastic" data-bind="css: {'icon-spinner': saving()}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
						<g clip-path="url(#clip0_7744_23487)">
							<path d="M2 3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2H10.112C10.2434 1.99998 10.3735 2.02585 10.4948 2.07613C10.6162 2.1264 10.7265 2.2001 10.8193 2.293L12.1053 3.579L13.707 5.18067C13.7999 5.27354 13.8736 5.38382 13.9239 5.50518C13.9741 5.62655 14 5.75663 14 5.888V13C14 13.2652 13.8946 13.5196 13.7071 13.7071C13.5196 13.8946 13.2652 14 13 14H3C2.73478 14 2.48043 13.8946 2.29289 13.7071C2.10536 13.5196 2 13.2652 2 13V3Z" stroke="#808080" stroke-width="1.5" stroke-linejoin="round"></path>
							<path d="M10.3327 8.66675H5.66602C5.4008 8.66675 5.14645 8.7721 4.95891 8.95964C4.77137 9.14718 4.66602 9.40153 4.66602 9.66675V14.0001H11.3327V9.66675C11.3327 9.40153 11.2273 9.14718 11.0398 8.95964C10.8523 8.7721 10.5979 8.66675 10.3327 8.66675Z" stroke="#808080" stroke-width="1.5" stroke-linejoin="round"></path>
							<path d="M9.66602 5.33333H5.66602C5.4008 5.33333 5.14645 5.22798 4.95891 5.04044C4.77137 4.8529 4.66602 4.59855 4.66602 4.33333V2" stroke="#808080" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
						</g>
						<defs>
							<clipPath id="clip0_7744_23487">
								<rect width="16" height="16" fill="white"></rect>
							</clipPath>
						</defs>
					</svg>
				</i>
				<span class="hide-mobile" data-i18n="GLOBAL/SAVE"></span>
			</a>

			<a class="btn btn-danger button-delete fontastic" data-bind="command: deleteCommand">🗑</a>
			<span class="saved-text hide-mobile" data-bind="text: savedTimeText"></span>

			<div class="pull-right">
				<!--		<a class="btn hide-mobile" data-i18n="GLOBAL/BCC" data-bind="visible: !showBcc(), toggle: showBcc"></a>-->
				<!--		<a class="btn hide-mobile" data-i18n="GLOBAL/CC" data-bind="visible: !showCc(), toggle: showCc"></a>-->
				<!--		<a class="btn fontastic" data-bind="visible: allowContacts, command: contactsCommand" data-i18n="[title]GLOBAL/CONTACTS">📇</a>-->
				<div class="btn-group dropdown" data-bind="registerBootstrapDropdown: true" style="display:inline-block;vertical-align:top">
					<a class="btn dropdown-toggle fontastic">☰</a>
					<menu class="dropdown-menu right-edge" role="menu">
						<li data-bind="toggle: showBcc">
							<a>
								<i class="fontastic" data-bind="text: showBcc() ? '☑' : '☐'"></i>
								<span data-i18n="GLOBAL/BCC"></span>
							</a>
						</li>
						<li data-bind="toggle: showCc">
							<a>
								<i class="fontastic" data-bind="text: showCc() ? '☑' : '☐'"></i>
								<span data-i18n="GLOBAL/CC"></span>
							</a>
						</li>
						<li data-bind="toggle: showReplyTo">
							<a>
								<i class="fontastic" data-bind="text: showReplyTo() ? '☑' : '☐'"></i>
								<span data-i18n="GLOBAL/REPLY_TO"></span>
							</a>
						</li>
						<li data-bind="toggle: requireTLS">
							<a>
								<i class="fontastic" data-bind="text: requireTLS() ? '☑' : '☐'"></i>
								<span data-i18n="COMPOSE/BUTTON_REQUIRE_TLS"></span>
							</a>
						</li>
						<li data-bind="toggle: markAsImportant">
							<a>
								<i class="fontastic" data-bind="text: markAsImportant() ? '☑' : '☐'"></i>
								<span data-i18n="COMPOSE/BUTTON_MARK_AS_IMPORTANT"></span>
							</a>
						</li>
						<li data-bind="toggle: doSign, visible: canSign">
							<a data-bind="attr:{title: signOptionsText}">
								<i class="fontastic" data-bind="text: doSign() ? '☑' : '☐'"></i>
								<span data-icon="✍" data-i18n="CRYPTO/SIGN"></span>
							</a>
						</li>
						<li data-bind="toggle: doEncrypt, visible: canEncrypt">
							<a data-bind="attr:{title: encryptOptionsText}">
								<i class="fontastic" data-bind="text: doEncrypt() || 'mailvelope' == viewArea() ? '☑' : '☐'"></i>
								<span data-icon="🔒" data-i18n="CRYPTO/ENCRYPT"></span>
							</a>
						</li>
					</menu>
				</div>
				<a class="minimize-custom" data-bind="click: skipCommand" data-i18n="[title]COMPOSE/BUTTON_MINIMIZE"></a>
				<a class="close" data-bind="click: doClose" data-i18n="[title]GLOBAL/CANCEL">×</a>
			</div>
		</header>
		<div class="modal-body">
			<div class="b-header g-ui-user-select-none">
				<table>
					<tr>
						<td data-i18n="GLOBAL/FROM"></td>
						<td>
							<!-- ko if: allowIdentities -->
							<input type="text" data-bind="textInput: from" style="width:calc(100% - 2em)">
							<!-- /ko -->
							<span class="e-identity" data-bind="hidden: allowIdentities, text: from"></span>
							<!-- ko if: 1 < identitiesOptions().length -->
							<div class="dropdown" style="display:inline-block" data-bind="registerBootstrapDropdown: true, initDom: identitiesMenu">
								<a class="dropdown-toggle" href="#" tabindex="-1" id="identity-toggle" role="button"></a>
								<menu class="dropdown-menu menu-accounts right-edge" role="menu" aria-labelledby="identity-toggle" data-bind="foreach: identitiesOptions">
									<li role="presentation">
										<a tabindex="-1" href="#" data-bind="click: function (oIdentity) { $root.selectIdentity(oIdentity); return true; }, text: optText"></a>
									</li>
								</menu>
							</div>
							<!-- /ko -->
						</td>
					</tr>
					<tr>
						<td>
							<label data-bind="css: {'error-to': emptyToError}, tooltipErrorTip: emptyToErrorTooltip"
								   data-i18n="GLOBAL/TO"></label>
						</td>
						<td>
							<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-bind="emailsTags: to, autoCompleteSource: emailsSource">
						</td>
					</tr>
					<tr class="cc-row" data-bind="visible: showCc">
						<td data-i18n="GLOBAL/CC"></td>
						<td>
							<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-bind="emailsTags: cc, autoCompleteSource: emailsSource">
						</td>
					</tr>
					<tr class="bcc-row" data-bind="visible: showBcc">
						<td data-i18n="GLOBAL/BCC"></td>
						<td>
							<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-bind="emailsTags: bcc, autoCompleteSource: emailsSource">
						</td>
					</tr>
					<tr class="reply-to-row" data-bind="visible: showReplyTo">
						<td data-i18n="GLOBAL/REPLY_TO"></td>
						<td>
							<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-bind="emailsTags: replyTo">
						</td>
					</tr>
					<tr>
						<td data-i18n="GLOBAL/SUBJECT"></td>
						<td>
							<input type="text" name="subject" autocomplete="off" data-bind="textInput: subject, attr:{spellcheck:allowSpellcheck()?'true':'false'}">
						</td>
					</tr>
				</table>
				<div style="display:flex">
					<div class="btn-group" style="flex-grow:1"></div>
					<div class="btn-group">
						<a class="btn fontastic" data-bind="toggle: doSign, visible: canSign, css: {'btn-success': doSign()}" data-i18n="[title]CRYPTO/SIGN">
							✍
						</a>
						<a class="btn fontastic" data-bind="toggle: doEncrypt, visible: canEncrypt, css: {'btn-success': doEncrypt() || 'mailvelope' == viewArea()}" data-i18n="[title]CRYPTO/ENCRYPT">
							🔒
						</a>
					</div>
				</div>
			</div>

			<div class="tabs">
				<input class="hidden" type="radio" name="tabs" value="body" id="tab-body" data-bind="checked: viewArea">
				<label for="tab-body"
					   class="hidden"
					   role="tab"
					   aria-selected="true"
					   aria-controls="panel1"
					   tabindex="0">
					<i class="icon-file-text"></i>
					<span data-i18n="GLOBAL/TEXT"></span>
				</label>
				<div class="tab-content" role="tabpanel" aria-hidden="false" style="grid-column-end:4">
					<div class="textAreaParent" data-bind="initDom: editorArea, attr:{spellcheck:allowSpellcheck()?'true':'false'}"></div>
				</div>

				<input class="hidden" type="radio" name="tabs" value="mailvelope" id="tab-mailvelope" data-bind="checked: viewArea">
				<label for="tab-mailvelope"
					   class="hidden"
					   role="tab"
					   aria-selected="false"
					   aria-controls="panel3"
					   tabindex="0"
					   data-bind="visible: canMailvelope">
					<i class="mailvelope-icon"></i>
					<span>Mailvelope</span>
				</label>
<!--				<div class="tab-content textAreaParent" id="mailvelope-editor" role="tabpanel" aria-hidden="true" style="grid-column-end:4" data-bind="visible: canMailvelope"></div>-->
				<div class="tab-content textAreaParent" id="mailvelope-editor" role="tabpanel" aria-hidden="true" style="grid-column-end:4"></div>
			</div>

			<div class="buttons">
				<a class="btn btn-send" data-bind="command: sendCommand, tooltipErrorTip: sendErrorDesc, css: {'btn-success': sendButtonSuccess, 'btn-danger': sendError, 'btn-warning': sendSuccessButSaveError }">
<!--					<i data-bind="css: {'icon-paper-plane': !sending(), 'icon-spinner': sending()}"></i>-->
					<span class="hide-mobile" data-i18n="COMPOSE/BUTTON_SEND"></span>
				</a>
				<a class="btn btn-cancel" href="#" class="close pull-right" data-bind="click: cancel">Отмена</a>
			</div>
		</div>
	</div>
	<div class="attachments-wrapper">
		<span class="title">Параметры вложения</span>
		<input type="radio" name="tabs" value="attachments" id="tab-attachments" data-bind="checked: viewArea" class="hidden">
		<label
				class="hidden"
				for="tab-attachments"
			   role="tab"
			   aria-selected="false"
			   aria-controls="panel2"
			   tabindex="0"
			   data-bind="
				css: { 'btn-danger': attachmentsInErrorCount() },
				tooltipErrorTip: attachmentsErrorTooltip">
			<b data-bind="visible: attachmentsCount, text: attachmentsCount"></b>
			<i data-bind="css: { 'icon-attachment': !attachmentsInProcessCount(), 'icon-spinner': attachmentsInProcessCount()}"></i>
			<span data-i18n="GLOBAL/ATTACHMENTS"></span>
		</label>
		<div class="field-attachments">
			<span>Минимальный размер файла 2,0 МБ</span>
			<div class="btn-group">
				<a class="btn fontastic" style="padding-left: 10px; padding-right: 10px;" id="composeUploadButton"
				   data-bind="visible: addAttachmentEnabled()" data-i18n="[title]COMPOSE/ATTACH_FILES">
					Добавить вложение
				</a>
			</div>
			<div class="img">
				<svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" viewBox="0 0 88 88" fill="none">
					<g clip-path="url(#clip0_6684_36091)">
						<circle cx="44" cy="44" r="44" fill="#E0E0E0"></circle>
						<path d="M17.252 29.4104V65.4788C17.2568 67.0896 17.8988 68.633 19.0377 69.772C20.1767 70.9109 21.7201 71.5529 23.3309 71.5578H64.6676C66.2783 71.5529 67.8217 70.9109 68.9607 69.772C70.0997 68.633 70.7417 67.0896 70.7465 65.4788V29.4104" fill="white"></path>
						<path d="M17.252 29.4104V65.4788C17.2568 67.0896 17.8988 68.633 19.0377 69.772C20.1767 70.9109 21.7201 71.5529 23.3309 71.5578H64.6676C66.2783 71.5529 67.8217 70.9109 68.9607 69.772C70.0997 68.633 70.7417 67.0896 70.7465 65.4788V29.4104" stroke="black" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"></path>
						<path d="M69.2502 16.4419H18.7482C16.5789 16.4419 14.8203 18.4015 14.8203 20.8187V24.5703C14.8203 26.9876 16.5789 28.9471 18.7482 28.9471H69.2502C71.4195 28.9471 73.1781 26.9876 73.1781 24.5703V20.8187C73.1781 18.4015 71.4195 16.4419 69.2502 16.4419Z" fill="white" stroke="black" stroke-width="2.2" stroke-linejoin="round"></path>
						<path d="M53.728 51.8739L44.0017 61.6002M44.0017 61.6002L34.2754 51.8739M44.0017 61.6002V39.7161" stroke="#70B62B" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"></path>
					</g>
					<defs>
						<clipPath id="clip0_6684_36091">
							<rect width="88" height="88" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
			</div>
		</div>
		<div class="tumblers-letter">
			<ul class="tumblers">
				<li data-bind="toggle: requestReadReceipt">
					<a>
<!--						<i class="fontastic" data-bind="text: requestReadReceipt() ? '☑' : '☐'"></i>-->
						<i class="fontastic" data-bind="css: {'active': requestReadReceipt()}"></i>
						<span data-i18n="COMPOSE/BUTTON_REQUEST_READ_RECEIPT"></span>
					</a>
				</li>
				<li data-bind="toggle: requestDsn">
					<a>
<!--						<i class="fontastic" data-bind="text: requestDsn() ? '☑' : '☐'"></i>-->
						<i class="fontastic" data-bind="css: {'active': requestDsn()}"></i>
						<span data-i18n="COMPOSE/BUTTON_REQUEST_DSN"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="tab-content attachmentAreaParent" role="tabpanel" aria-hidden="true" style="grid-column-end:4">
			<div class="b-attachment-place" data-bind="visible: addAttachmentEnabled() && dragAndDropVisible(), css: {dragAndDropOver: dragAndDropOver}"
				 data-i18n="COMPOSE/ATTACH_DROP_FILES_DESC"></div>
			<ul class="attachmentList" data-bind="foreach: attachments">
				<li class="attachmentItem" data-bind="attr: { title: title }, css: { waiting: waiting, error: '' !== error() }">
					<div class="attachmentIcon">
						<i class="iconMain" data-bind="css: iconClass, visible: !uploading() || 0 === progress()"></i>
						<div class="iconProgress" data-bind="attr: { style: progressStyle }, visible: uploading"></div>
						<div class="iconBG" data-bind="text: progressText, visible: uploading"></div>
					</div>
					<div class="attachmentNameParent">
						<a href="#" class="close pull-right" style="margin-top:-4px;" data-bind="click: cancel">×</a>
						<div class="attachmentName" data-bind="text: fileName"></div>
						<span class="attachmentSize" data-bind="text: friendlySize"></span>
					</div>
				</li>
			</ul>
			<div class="no-attachments-desc" data-bind="visible: 0 === attachments().length"
				 data-i18n="COMPOSE/NO_ATTACHMENTS_HERE_DESC" hidden></div>
		</div>
	</div>
</div>