#body-user #header,
#body-settings #header,
#body-public #header {
    font-family: 'Raleway';
    font-weight: 600;
}

#header .logo {
    filter: unset !important;
}

/*.header-old {*/
/*    display: none !important;*/
/*    top: 94px !important;*/
/*    left: 0 !important;*/
/*}*/

#header:before {
    display: none !important;
}

.l-wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0 25px !important;
    margin: 0 auto;
    position: relative;
}

#header.header-new {
    & #header-menu-user-menu-f7mail {
        /* display: none; */
        position: fixed;
        z-index: 2000;
        right: 5%;
        top: 65px;
        width: 200px;
        background-color: #FFFFFFFF;
        --color-box-shadow-rgb: 77,77,77;
        --color-box-shadow: rgba(var(--color-box-shadow-rgb), 0.5);
        filter: drop-shadow(0 1px 5px var(--color-box-shadow));
        /*padding: 10px;*/
        border-radius: 8px;
        /*border: 1px solid #cccccc;*/

        & .header-menu__content {
            overflow: auto;
            width: fit-content !important;
            max-width: calc(100vw - 16px);
            min-height: calc(34px * 1.5);
            max-height: calc(100vh - 50px * 2);

            & .account-menu__list {
                display: inline-flex;
                flex-direction: column;
                padding-block: 4px 0;
                padding-inline: 0 4px;

                & .list-item__wrapper {
                    padding: 2px 4px;


                    & .list-item__anchor {
                        color: inherit;
                        display: flex;
                        flex: 1 0 auto;
                        align-items: center;
                        height: 40px;
                        min-width: 0;

                        & .account-menu-entry__icon {
                            height: 16px;
                            width: 16px;
                            margin: calc((34px - 16px)/2);

                        }
                        & .list-item-content {
                            display: flex;
                            flex: 1 0;
                            justify-content: space-between;
                            padding-left: calc(2 * var(--default-grid-baseline));
                            min-width: 0;

                            & .list-item-content__main {
                                width: fit-content;

                                & .list-item-content__name {
                                    font-family: 'Raleway';
                                    font-weight: 500;
                                    vertical-align: baseline;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#header.header-new {
    position: relative !important;
    height: unset !important;
    margin: 0 !important;
    background: #FFFFFF !important;
    box-shadow: 0px 2px 22px 0px #0000000D;
    display: inline-flex;
    top: 0;
    width: 100%;
    z-index: 3005;
    box-sizing: border-box;
    justify-content: space-between;
}
#header.header-new:before {
    display: none !important;
}
#header.header-new .l-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}
#header.header-new .l-wrapper .logo__header {
    display: flex;
    align-items: center;
    position: relative !important;
    left: unset !important;
    margin-bottom: 0 !important;
    width: 210px;
    height: 64px;
}
#header.header-new .l-wrapper .logo__header img {
    width: 100%;
    height: 100%;
}
#header.header-new .app-menu {
    margin: 0 !important;
    position: relative;
}
#header.header-new .app-menu .app-menu__list {
    display: flex;
    align-items: center;
    width: 100% !important;
}
#header.header-new .app-menu .app-menu__list li {
    height: unset !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    width: 100%;
    cursor: pointer;
    transition: hover .3s;
}
#header.header-new .app-menu .app-menu__list li:hover {
    opacity: .75;
}
.app-menu-entry:hover .app-menu-entry__icon,
.app-menu-entry:focus-within .app-menu-entry__icon,
.app-menu__list:hover .app-menu-entry__icon,
.app-menu__list:focus-within .app-menu-entry__icon {
    margin-block-end: unset !important;
}
#header.header-new .app-menu .app-menu__list li .app-menu-entry__icon {
    padding: 5px;
    background: #E0E0E0;
    border-radius: 50%;
    height: 30px !important;
    width: 30px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
#rl-app #header.header-new .app-menu .app-menu__list li .app-menu-entry__icon {
    height: 40px !important;
    width: 40px !important;
}
#header.header-new .app-menu .app-menu__list li .app-menu-entry__icon img {
    width: 100%;
    max-width: 85%;
}
#header.header-new .app-menu .app-menu__list li .app-menu-entry__link-more .app-menu-entry__icon img {
    max-height: 20px;
}
#header.header-new .app-menu .app-menu__list li .app-menu-entry__label {
    margin-top: 4px;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    pointer-events: none;
}
#header.header-new .app-menu .app-menu__list li:last-child {
    /*margin-right: 0 !important;*/
}
#header.header-new .app-menu .app-menu__list li a,
#header.header-new .app-menu .app-menu__list li .app-menu-entry__link-more {
    width: unset !important;
    height: unset !important;
    margin: unset !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    cursor: pointer;
}
#header.header-new .app-menu .app-menu__list li a:after {
    display: none;
}
#header.header-new .app-menu span {
    background-image: unset !important;
    display: block !important;
    background-size: unset !important;
    background-repeat: unset !important;
    background-position: unset !important;
}
#header.header-new .user-control__header {
    display: flex;
    align-items: center;
    align-self: flex-start;
}
#header.header-new .user-control__header:hover button {
    opacity: .75;
}
#header.header-new .user-control__header img {
    pointer-events: none;
}
#header.header-new .user-control__header > div:not(.name__user,.header-menu__wrapper) {
    padding: 5px;
    background: #E0E0E0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: hover .3s;
}
#header.header-new .user-control__header > div:last-child {
    margin-right: 0 !important;
}
#header.header-new .user-control__header > div:not(.notifications__wrapper):hover,
#header.header-new .user-control__header > a:hover,
#header.header-new .user-control__header > nav:not(.header-menu--opened):hover  {
    opacity: .75
}
#header.header-new .user-control__header > nav .header-menu__wrapper {
    opacity: 1;
}
#header.header-new .user-control__header .unified-search-wrapper {
    margin-right: 15px;
}
#header.header-new .user-control__header .name__user {
    margin-right: 15px;
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

#header.header-new .user-control__header > *:not(.name__user) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 5px;
    background-color: #E0E0E0;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: hover .3s;
}

#header.header-new .user-control__header .unified-search__wrapper {
    margin-right: 15px;
    background-image: url("/themes/forbion/images/unified-search.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 25px 30px !important;
}

#header.header-new .user-control__header #user-menu {
    background-image: url("/themes/forbion/images/profile_user.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 30px;
    width: 30px;
    height: 30px;
}

#header.header-new .user-control__header #user-menu-snappymail, #header.header-new .user-control__header #user-menu-f7mail {
    background-image: url("/themes/forbion/images/profile_user.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 30px;
    width: 40px;
    height: 40px;
}

#header.header-new .user-control__header #contactsmenu {
    background-image: url("/themes/forbion/images/contactsmenu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 30px;
}


#header.header-new .user-control__header .notifications__wrapper {
    margin-right: 10px;
    background-image: url("/themes/forbion/images/bell.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 25px 30px !important;
}

#header.header-new .user-control__header .notifications__wrapper .header-menu__trigger svg {
    position: relative;
}

#header.header-new .user-control__header .notifications__wrapper .header-menu__trigger svg.notifications-button__icon .notification__dot {
    fill: transparent !important;
}

#header.header-new .user-control__header .notifications__wrapper .header-menu__trigger .alert-icon {
    position: relative;
    margin-right: 20px;
    width: 10px;
    height: 10px;
}

#header.header-new .user-control__header .notifications__wrapper .header-menu__trigger .alert-icon::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    background-image: url("/themes/forbion/images/alert-notification.svg");
    width: 10px;
    height: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#header.header-new .user-control__header #user-menu .header-menu__wrapper {
    top: 65px !important;
    right: 5%;

    & .list-item__wrapper[data-v-a3ec46a7]:first-of-type {
        display: none;
    }
}

#header.header-new .user-control__header button {
    width: 35px !important;
    min-width: 35px !important;
    max-width: 35px !important;
    height: 35px !important;
    min-height: 35px !important;
    max-height: 35px !important;
    border-radius: 50% !important;
    opacity: 1 !important;
}

#header.header-new .user-control__header #contactsmenu {
    overflow: hidden;
}

#header.header-new .user-control__header button .button-vue__wrapper {
    display: none;
}
#header.header-new .user-control__header #assistant button .button-vue__wrapper {
    display: flex !important;
    width: 25px;
}

#header.header-new .user-control__header .header-menu__carret {
    display: none;
}

#header.header-new .user-control__header .notifications__user {
    margin-right: 10px;
}
#header.header-new .user-control__header .help-online__user {
    margin-right: 10px;
}
#header.header-new .user-control__header .help-online__user img {
    display: block;
}
#header.header-new .app-menu .hidden-app-menu__list {
    display: none;
    position: absolute;
    left: 0;
    top: 78px;
    padding: 14px 0;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
}
#header.header-new .app-menu .hidden-app-menu__list:after {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: calc(100% + 40px);
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 22px 0px #0000000D;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: -1;
    pointer-events: none;
}
#header.header-new .app-menu .hidden-app-menu__list.is-active {
    display:flex;
    align-items: center;
}
#header.header-new .app-menu .setting-hidden-menu {
    position: absolute;
    right: 2px;
    bottom: 16px;
    height: 16px;
    opacity: .45;
    transition: opacity .3s;
    cursor: pointer;
    display: none !important;
}
#header.header-new .app-menu .setting-hidden-menu:hover {
    opacity: .3
}
#header.header-new .app-menu .hidden-app-menu__list li {
    /*max-width: 70px;*/
    width: auto;
}

.modal-mask#unified-search {
    & .dialog__name {
        display: block !important;
        text-align: left;
        padding-top: 20px;
        margin-bottom: 5px;
        margin-top: 0;
    }
}

.modal-mask .unified-search-modal__content {

    & .empty-content {
        & .empty-content__icon {

            margin-bottom: 0 !important;
            width: 90px;
            height: 90px;
            position: relative;
            opacity: 1;
            background: #E0E0E0;
            border-radius: 50%;
            transform: unset !important;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 90px;
                height: 90px;
                background-image: url("/themes/forbion/images/search-modal.svg");
                background-repeat: no-repeat;
                background-position: center;
            }

            & span {
                display: none;
            }
        }
        
        & .empty-content__name {
            margin-top: 25px !important;
            margin-bottom: 10px !important;
            text-align: center !important;
            font-weight: 700 !important;
            font-size: 20px !important;
            line-height: 30px !important;
        }
    }

    & .input-field__main-wrapper {

        position: relative;

        & input {
            padding: 8px 75px 8px 12px;
            box-shadow: unset;
            border-radius: 8px;
            color: #808080;
            border: 1px solid #E6E6E6 !important;
        }

        &:before {
            content: '';
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-image: url("/themes/forbion/images/search-gray.svg");
            background-repeat: no-repeat;
        }
    }

    & .unified-search-modal__filters {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #E6E6E6;
        margin: 20px 0 0;
        padding: 0 10px 8px;

        & .action-item {

            & button {
                background: unset !important;

                &:hover {
                    background: unset !important;
                }

                & .button-vue__wrapper {
                    display: flex;
                    flex-direction: column;

                    .button-vue__icon {

                        width: 34px;
                        height: 34px;

                        & svg {
                            fill: #000000;
                        }
                    }

                    .button-vue__text {
                        margin-top: -2px;
                        color: #000000 !important;
                        font-weight: normal;
                    }
                }
            }
        }

        & .v-popper {

            & button {
                background: unset !important;

                &:hover {
                    background: unset !important;
                }

                & .button-vue__wrapper {
                    display: flex;
                    flex-direction: column;

                    .button-vue__icon {

                        width: 34px;
                        height: 34px;

                        & svg {
                            fill: #000000;
                        }
                    }

                    .button-vue__text {
                        margin-top: -2px;
                        color: #000000 !important;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    & .unified-search-modal__filters-applied {
        margin-top: 5px;

        & .chip {
            margin: 4px;
            background: #F0F1F4 !important;
            padding: 5px 20px 5px 14px;
            border-radius: 8px;
            position: relative;
            border: unset;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 40px;
                width: 1px;
                height: 100%;
                background: #FFFFFF;
            }

            & .icon {
                width: 24px;
                height: 24px;
                margin-top: -2px;
                padding: 0;
                position: relative;

                display: none;
            }

            & .text {
                margin-left: 0;
                color: #000000;
                font-weight: normal;
            }

            & .close-icon {
                margin-left: 16px;
                position: relative;
            }
        }
    }
}

.v-popper__popper {

    & .searchable-list__wrapper {
        min-width: 350px;
        min-height: 350px;

        & .input-field__main-wrapper {
            height: auto !important;
        }

        & input {
            padding: 8px 75px 8px 12px;
            box-shadow: unset;
            border-radius: 8px;
            color: #808080;
            border: 1px solid #E6E6E6 !important;
            height: auto !important;
        }
        & .input-field__icon--leading  {
            position: absolute;
            right: 5px;
            left: unset;
        }
        & .input-field__trailing-button {
            display: none;
        }
    }

    & .v-popper__inner {

        & li.action {

            & .action-button {

                & .action-button__text,
                & .action-button__longtext {
                    margin-left: 0 !important;
                }

                & .action-button__icon:empty {
                    width: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    #header.header-new .app-menu .app-menu__list li {
        margin-left: 14px !important;
        margin-right: 14px !important;
    }
}

@media only screen and (max-width: 1023px) {
    .l-wrapper {
        padding: 0 16px !important;
    }
    #header.header-new {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
    }
    #header.header-new .l-wrapper {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    #header.header-new .l-wrapper .logo__header {
        width: 150px;
        height: unset;
    }
    #header.header-new .app-menu {
        display: none;

        &.show {
            display: flex;
            flex-direction: column;
            padding: 70px 16px 50px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: white;
            z-index: 999;

            & .app-menu__list {
                position: relative;
                display: flex !important;
                flex-direction: column;
                align-items: flex-start;
                padding: unset;
                top: unset;
                left: unset;
                background: unset;

                &:after {
                    display: none;
                }

                &:first-child {

                    .app-menu-entry {

                        &:last-child {
                            display: none;
                        }
                    }
                }

                .app-menu-entry {

                    margin: 0 !important;
                    width: 100%;

                    .app-menu-entry__link {

                        padding: 10px 0;
                        align-items: flex-start !important;

                        .app-menu-entry__icon {
                            display: none !important;
                        }

                        .app-menu-entry__label {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    #header.header-new .user-control__header {
        align-self: unset;
    }
    #header.header-new .user-control__header > div:not(.name__user),
    #header.header-new .user-control__header #user-menu {
        width: 20px;
        height: 20px;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #header.header-new .user-control__header #user-menu-snappymail {
        width: 34px;
        height: 34px;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 550px) {
    #header.header-new .user-control__header {
        margin-right: -10px;
    }
    #header.header-new .user-control__header .unified-search__wrapper {
        margin-right: 10px;
    }
    #header.header-new .user-control__header > div:last-child {
        margin-right: 10px !important;
    }
    #header.header-new .user-control__header .search,
    #header.header-new .user-control__header .name__user {
        margin-right: 10px;
    }
    #header.header-new .user-control__header .name__user,
    #header.header-new .user-control__header .help-online__user {
        display: none !important;
    }
}

@media only screen and (max-width: 350px) {
    #header.header-new .l-wrapper {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }
    #header.header-new .l-wrapper .logo__header {
        width: 135px;
    }
}

.notifications__wrapper .button-vue__wrapper{
    display: unset !important;
}

.notifications-button__icon path:first-child {
    display: none;
}

.notifications-button__icon path:first-child {
    display: none;
}
.notification__dot{
    fill:#70B62B !important;
}
.notifications__wrapper .button-vue {
   width: 30px !important;
   height: 30px !important;
}
.is-header__burger {
    display: none;
}
#header.header-new .user-control__header .notifications__wrapper {

    --color-main-background:#ffffff;
    --color-main-background-rgb:255,255,255;
    --color-main-background-translucent:rgba(var(--color-main-background-rgb), .97);
    --color-main-background-blur:rgba(var(--color-main-background-rgb), .8);
    --filter-background-blur:none;
    --gradient-main-background:var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
    --color-background-hover:#f5f5f5;
    --color-background-dark:#ededed;
    --color-background-darker:#dbdbdb;
    --color-placeholder-light:#e6e6e6;
    --color-placeholder-dark:#cccccc;
    --color-main-text:#222222;
    --color-text-maxcontrast:#6b6b6b;
    --color-text-maxcontrast-default:#6b6b6b;
    --color-text-maxcontrast-background-blur:#595959;
    --color-text-light:var(--color-main-text);
    --color-text-lighter:var(--color-text-maxcontrast);
    --color-scrollbar:var(--color-border-maxcontrast) transparent;
    --color-error:#DB0606;
    --color-error-rgb:219,6,6;
    --color-error-hover:#df2525;
    --color-error-text:#c20505;
    --color-warning:#A37200;
    --color-warning-rgb:163,114,0;
    --color-warning-hover:#8a6000;
    --color-warning-text:#7f5900;
    --color-success:#2d7b41;
    --color-success-rgb:45,123,65;
    --color-success-hover:#428854;
    --color-success-text:#286c39;
    --color-info:#0071ad;
    --color-info-rgb:0,113,173;
    --color-info-hover:#197fb5;
    --color-info-text:#006499;
    --color-favorite:#A37200;
    --color-loading-light:#cccccc;
    --color-loading-dark:#444444;
    --color-box-shadow-rgb:77,77,77;
    --color-box-shadow:rgba(var(--color-box-shadow-rgb), 0.5);
    --color-border:#ededed;
    --color-border-dark:#dbdbdb;
    --color-border-maxcontrast:#7d7d7d;
    --font-face:system-ui, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Cantarell, Ubuntu, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --default-font-size:15px;
    --font-size-small:13px;
    --default-line-height:1.5;
    --animation-quick:100ms;
    --animation-slow:300ms;
    --border-width-input:1px;
    --border-width-input-focused:2px;
    --border-radius-small:4px;
    --border-radius-element:8px;
    --border-radius-container:12px;
    --border-radius-container-large:16px;
    --border-radius:var(--border-radius-small);
    --border-radius-large:var(--border-radius-element);
    --border-radius-rounded:28px;
    --border-radius-pill:100px;
    --default-clickable-area:34px;
    --clickable-area-large:48px;
    --clickable-area-small:24px;
    --default-grid-baseline:4px;
    --header-height:50px;
    --header-menu-item-height:44px;
    --navigation-width:300px;
    --sidebar-min-width:300px;
    --sidebar-max-width:500px;
    --body-container-radius:var(--border-radius-container-large);
    --body-container-margin:calc(var(--default-grid-baseline) * 2);
    --body-height:calc(100% - env(safe-area-inset-bottom) - var(--header-height) - var(--body-container-margin));
    --breakpoint-mobile:1024px;
    --background-invert-if-dark:no;
    --background-invert-if-bright:invert(100%);
    --background-image-invert-if-bright:invert(100%);
    --primary-invert-if-bright:invert(100%);
    --primary-invert-if-dark:no;
    --color-primary:#70B62B;
    --color-primary-text:#000000;
    --color-primary-hover:#8cc455;
    --color-primary-light:#eef4e9;
    --color-primary-light-text:#2c4811;
    --color-primary-light-hover:#e3e9df;
    --color-primary-element:#5e922b;
    --color-primary-element-hover:#68a230;
    --color-primary-element-text:#000000;
    --color-primary-element-text-dark:#0a0a0a;
    --color-primary-element-light:#eef4e9;
    --color-primary-element-light-hover:#e3e9df;
    --color-primary-element-light-text:#253a11;
    --gradient-primary-background:linear-gradient(40deg, var(--color-primary) 0%, var(--color-primary-hover) 100%);
    --color-background-plain:#F0F2F5;
    --color-background-plain-text:#000000;
    --image-background:none;

    & .notification-container.menu {
        border-radius: 16px;
    }

    & .notification-subject {
        margin-bottom: 6px;
    }

    & .notification-actions {
        display: flex;
        flex-direction: column;
        & > a {
            width: 100% !important;
            border-radius: 8px !important;
            margin: 0;
            max-width: -webkit-fill-available;
            text-align: center;

            &:not(:first-child) {
                margin-top: 8px;
            }
        }
        & > button {
            width: 100% !important;
            height: 100% !important;
            min-width: unset !important;
            max-height: unset !important;
            max-width: unset !important;
            border-radius: 8px !important;
            margin: 0;
            text-align: center;

            &:not(:first-child) {
                margin-top: 8px;
            }
        }
    }

    & .dismiss-all {
        & .button-vue__icon {
            margin-left: -3px;
        }
        & .button-vue__text {
            display: none;
        }
    }
}

@media only screen and (max-width: 1023px) {
    #header .is-header__burger,
    #header .logo__header,
    #header .help-online__user,
    #header .account-menu,
    #header .unified-search__wrapper,
    #header .notifications__wrapper,
    #header #user-menu-f7mail,
    #header #username-display {
        z-index: 1000;
    }
    #header .logo__header {
        margin-right: auto;
        margin-left: 20px;
    }
    #header .l-wrapper {
        align-items: center;
    }
    #header .is-header__burger {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        width: 30px;
        height: 18px;
        min-height: auto;
        background: none;
        z-index: 1000;

        i {
            position: absolute;
            top: 0;
            display: block;
            border-radius: 5px;
            width: 100%;
            height: 2px;
            background: #70B62B;
            transition: 0.25s;

            + i {
                top: 9px;

                + i {
                    top: 18px;
                }
            }
        }

        &.is-show-mobile-menu {
            i {
                top: 9px;
                transform: rotate(45deg);

                + i {
                    opacity: 0;
                    transform: translateX(-100%);

                    + i {
                        top: 9px;
                        opacity: 1;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 390px) {
    #header.header-new .l-wrapper .logo__header img {
        /*max-width: 120px;*/
    }
    #header .unified-search__wrapper {
        display: none !important;
    }
}