#body-user #header,
#body-settings #header,
#body-public #header {
    font-family: 'Raleway';
    font-weight: 600;
}

/*.header-old {*/
/*    display: none !important;*/
/*    top: 94px !important;*/
/*    left: 0 !important;*/
/*}*/

#header:before {
    display: none !important;
}

.l-wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0 25px !important;
    margin: 0 auto;
    position: relative;
}

#header.header-new {
    position: relative !important;
    height: unset !important;
    margin: 0 !important;
    background: #FFFFFF !important;
    box-shadow: 0px 2px 22px 0px #0000000D;
    display: inline-flex;
    top: 0;
    width: 100%;
    z-index: 3005;
    box-sizing: border-box;
    justify-content: space-between;
}
#header.header-new:before {
    display: none !important;
}
#header.header-new .l-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}
#header.header-new .l-wrapper .logo__header {
    display: flex;
    align-items: center;
    position: relative !important;
    left: unset !important;
    margin-bottom: 0 !important;
    width: 210px;
    height: 64px;
}
#header.header-new .l-wrapper .logo__header img {
    width: 100%;
    height: 100%;
}
#header.header-new .app-menu {
    margin: 0 !important;
    position: relative;
}
#header.header-new .app-menu .app-menu__list {
    display: flex;
    align-items: center;
    width: 100% !important;
}
#header.header-new .app-menu .app-menu__list li {
    height: unset !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    width: 100%;
    cursor: pointer;
    transition: hover .3s;
}
#header.header-new .app-menu .app-menu__list li:hover {
    opacity: .75;
}
#header.header-new .app-menu .app-menu__list li .app-menu-enty__icon {
    padding: 5px;
    background: #E0E0E0;
    border-radius: 50%;
    height: 30px !important;
    width: 30px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
#header.header-new .app-menu .app-menu__list li .app-menu-enty__icon img {
    width: 100%;
    max-width: 85%;
}
#header.header-new .app-menu .app-menu__list li .app-menu-entry__link-more .app-menu-enty__icon img {
    max-height: 20px;
}
#header.header-new .app-menu .app-menu__list li .app-menu-entry__label {
    margin-top: 4px;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    pointer-events: none;
}
#header.header-new .app-menu .app-menu__list li:last-child {
    /*margin-right: 0 !important;*/
}
#header.header-new .app-menu .app-menu__list li a,
#header.header-new .app-menu .app-menu__list li .app-menu-entry__link-more {
    width: unset !important;
    height: unset !important;
    margin: unset !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    cursor: pointer;
}
#header.header-new .app-menu .app-menu__list li a:after {
    display: none;
}
#header.header-new .app-menu span {
    background-image: unset !important;
    display: block !important;
    background-size: unset !important;
    background-repeat: unset !important;
    background-position: unset !important;
}
#header.header-new .user-control__header {
    display: flex;
    align-items: center;
    align-self: flex-start;
}
#header.header-new .user-control__header img {
    pointer-events: none;
}
#header.header-new .user-control__header > div:not(.name__user) {
    padding: 5px;
    background: #E0E0E0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: hover .3s;
}
#header.header-new .user-control__header > div:last-child {
    margin-right: 0 !important;
}
#header.header-new .user-control__header > div:hover,
#header.header-new .user-control__header > a:hover,
#header.header-new .user-control__header > nav:not(.header-menu--opened):hover  {
    opacity: .75
}
#header.header-new .user-control__header > nav .header-menu__wrapper {
    opacity: 1;
}
#header.header-new .user-control__header .unified-search-wrapper {
    margin-right: 15px;
}
#header.header-new .user-control__header .name__user {
    margin-right: 15px;
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

#header.header-new .user-control__header > *:not(.name__user) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 5px;
    background-color: #E0E0E0;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: hover .3s;
}

#header.header-new .user-control__header .unified-search__wrapper {
    margin-right: 15px;
    background-image: url("/themes/forbion/images/unified-search.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 25px 30px !important;
}

#header.header-new .user-control__header #user-menu {
    background-image: url("/themes/forbion/images/profile_user.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 30px;
    width: 30px;
    height: 30px;
}

#header.header-new .user-control__header #contactsmenu {
    background-image: url("/themes/forbion/images/contactsmenu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 30px;
}

#header.header-new .user-control__header #user-menu .header-menu__wrapper {
    top: 65px !important;
    right: 5%;

    & .list-item__wrapper[data-v-a3ec46a7]:first-of-type {
        display: none;
    }
}

#header.header-new .user-control__header button {
    width: 35px !important;
    min-width: 35px !important;
    max-width: 35px !important;
    height: 35px !important;
    min-height: 35px !important;
    max-height: 35px !important;
    border-radius: 50%;
}

#header.header-new .user-control__header #contactsmenu {
    overflow: hidden;
}

#header.header-new .user-control__header button .button-vue__wrapper {
    display: none;
}
#header.header-new .user-control__header #assistant button .button-vue__wrapper {
    display: flex !important;
    width: 25px;
}

#header.header-new .user-control__header .header-menu__carret {
    display: none;
}

#header.header-new .user-control__header .notifications__user {
    margin-right: 10px;
}
#header.header-new .user-control__header .help-online__user {
    margin-right: 10px;
}
#header.header-new .app-menu .hidden-app-menu__list {
    display: none;
    position: absolute;
    left: 0;
    top: 78px;
    padding: 14px 0;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
}
#header.header-new .app-menu .hidden-app-menu__list:after {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: calc(100% + 40px);
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 22px 0px #0000000D;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: -1;
    pointer-events: none;
}
#header.header-new .app-menu .hidden-app-menu__list.is-active {
    display:flex;
    align-items: center;
}
#header.header-new .app-menu .setting-hidden-menu {
    position: absolute;
    right: 2px;
    bottom: 16px;
    height: 16px;
    opacity: .45;
    transition: opacity .3s;
    cursor: pointer;
    display: none !important;
}
#header.header-new .app-menu .setting-hidden-menu:hover {
    opacity: .3
}
#header.header-new .app-menu .hidden-app-menu__list li {
    /*max-width: 70px;*/
    width: auto;
}

@media only screen and (max-width: 1199px) {
    #header.header-new .app-menu .app-menu__list li {
        margin-left: 14px !important;
        margin-right: 14px !important;
    }
}

@media only screen and (max-width: 1023px) {
    .l-wrapper {
        padding: 0 20px !important;
    }
    #header.header-new .l-wrapper {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    #header.header-new .l-wrapper .logo__header {
        width: 150px;
        height: unset;
    }
    #header.header-new .app-menu {
        display: none;
    }
    #header.header-new .user-control__header {
        align-self: unset;
    }
    #header.header-new .user-control__header > div:not(.name__user),
    #header.header-new .user-control__header #user-menu {
        width: 20px;
        height: 20px;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 550px) {
    #header.header-new .user-control__header {
        margin-right: -10px;
    }
    #header.header-new .user-control__header .unified-search__wrapper {
        margin-right: 10px;
    }
    #header.header-new .user-control__header > div:last-child {
        margin-right: 10px !important;
    }
    #header.header-new .user-control__header .search,
    #header.header-new .user-control__header .name__user {
        margin-right: 10px;
    }
    #header.header-new .user-control__header .name__user,
    #header.header-new .user-control__header .help-online__user {
        display: none !important;
    }
}

@media only screen and (max-width: 350px) {
    #header.header-new .l-wrapper {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }
    #header.header-new .l-wrapper .logo__header {
        width: 135px;
    }
}