#V-PopupsIdentity {

    & summary {
        margin-bottom: 10px;
    }

    & .control-group {

        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        margin-bottom: 1.2em;

        & > div {
            margin-left: 0;
        }

        input,
        textarea,
        select,
        .textEmail {
            width: 100%;
            max-height: 100px;
            margin-left: 0;
            border: 1px solid #E6E6E6;
            border-radius: 8px;
            padding: 12px 12px 12px 12px;
            height: unset;
            color: black;
            resize: none;
        }

        label {
            text-align: left;
        }
    }

    & .e-signature-place {
        & .squire-toolbar {
            padding: 10px;

            & select {
                width: 100%;
                max-width: max-content;
            }

            & > .btn-group {

                & > button {
                    box-shadow: unset;

                    &:hover {
                        opacity: .75;
                    }

                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        & div[contenteditable="true"] {
            width: 100%;
            min-height: 200px;
        }
    }

    footer {
        padding: 20px 15px;
    }

    & label.e-checkbox {
        display: flex;

        & span {
            margin-top: 1px;
            margin-left: 20px;
        }
    }

    & input+div[role="checkbox"] {
        border: unset !important;
        background-image: url("/themes/forbion/images/snappymail/default-checkbox-tumbler.svg");
        width: 24px !important;
        height: 24px !important;
        transform: unset !important;
        left: 0 !important;
        top: unset !important;
        right: unset !important;
        bottom: unset !important;
        cursor: pointer;
    }

    & input:checked+div[role="checkbox"] {
        background-image: url("/themes/forbion/images/snappymail/active-checkbox-tumbler.svg") !important;
    }
}

#V-PopupsAsk {

    & .modal-body {
        padding: 2em 15px;
    }

    & .form-horizontal {
        margin: 0 !important;

        & .control-group {
            display: flex;
            flex-direction: column;
            width: 100%;

            &:last-child {
                margin-bottom: 0 !important;
            }

            label {
                text-align: left;
            }

            input {
                width: 100%;
                max-height: 100px;
                margin-left: 0;
                border: 1px solid #E6E6E6;
                border-radius: 8px;
                padding: 12px 12px 12px 12px;
                height: unset;
                color: black;
                resize: none;
            }
        }
    }

    & footer {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

#V-PopupsFilter {
    & .modal-body {
        padding: 2em 15px;
    }

    & .control-group {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;

        &.control-group-flr {
            flex-direction: column;
        }

        & .button-delete {
            margin-left: 10px;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }

        label {
            text-align: left;
        }

        div {
            display: flex;
        }
    }

    & .actionTemplate {
        .control-group {
            flex-direction: column;
            align-items: flex-start;

            & div {
                flex-direction: column;
            }
        }
    }

    input,
    textarea,
    select {
        width: 100%;
        max-height: 100px;
        margin-left: 0;
        border: 1px solid #E6E6E6;
        border-radius: 8px;
        padding: 12px 12px 12px 12px;
        height: unset;
        color: black;
        resize: none;
    }

    & label.e-checkbox {
        display: flex;

        & span {
            margin-top: 1px;
            margin-left: 20px;
        }
    }

    & input+div[role="checkbox"] {
        border: unset !important;
        background-image: url("/themes/forbion/images/snappymail/default-checkbox-tumbler.svg");
        width: 24px !important;
        height: 24px !important;
        transform: unset !important;
        left: 0 !important;
        top: unset !important;
        right: unset !important;
        bottom: unset !important;
        cursor: pointer;
    }

    & input:checked+div[role="checkbox"] {
        background-image: url("/themes/forbion/images/snappymail/active-checkbox-tumbler.svg") !important;
    }

    & footer {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .addCondition {
        margin-top: 20px;

        & .btn {
            position: relative;
            padding-left: 30px;

            &:before {
                position: absolute;
                left: 10px;
                top: 6px;
            }
        }
    }

    .buttonSave {

        margin-right: 0;
        position: relative;
        padding: 12px 14px 12px 40px;
        color: #FFFFFF;
        height: 40px;
        background: #70B62B;
        border-radius: 8px;
        line-height: normal;
        box-shadow: unset;
        border: unset;

        &:before {
            content: '';
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-image: url("/themes/forbion/images/arrow-btn.svg");
            background-repeat: no-repeat;
        }
    }
}

#V-PopupsSieveScript {
    & .drag-handle {
        color: #aaa;
    }
    & .button-confirm-delete {
        transform: translateX(30px);
    }
}

#V-PopupsNextcloudFiles {

    [data-icon="📁"]::before {
        content: '';
        background-image: url("/themes/forbion/images/folder-icon.svg");
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        margin-bottom: -4px;
        margin-left: 2px;
    }

    [data-icon="🗎"]::before {
        
    }

    footer {

        padding: 15px;

        button {

            position: relative;
            padding: 10px 14px 12px 40px;
            color: #FFFFFF;
            height: 40px;
            background: #70B62B;
            border-radius: 8px;
            border: unset;
            box-shadow: unset;
            cursor: pointer;
            transition: opacity .3s;

            &:nth-child(2) {
                margin-left: 10px;
            }

            &:hover {
                opacity: .75;
            }

            &:before {
                content: '';
                position: absolute;
                margin-top: -1px;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background-image: url("/themes/forbion/images/arrow-btn.svg");
                background-repeat: no-repeat;
            }
        }
    }
}

#V-PopupsContacts {

    max-height: 700px;

    * {
        box-shadow: unset !important;
    }

    header {
        .btn-toolbar {
            & > .btn {
                &:first-child {
                    position: relative;
                    padding-left: 30px;

                    &:before {
                        position: absolute;
                        left: 10px;
                        top: 6px;
                    }
                }
            }
        }
    }

    .modal-body {
        overflow: visible;
        max-height: calc(100% - 49px);
    }

    .left {
        min-width: 250px;

        .b-list-content {
            height: calc(100% - 69px);
        }

        .b-list-footer-toolbar {
            display: none;
        }
    }

    .right {
        max-width: 100%;

        .b-view-content-toolbar {
            padding: 15px 30px 15px 0;

            .btn-group.dropdown {
                border: unset;

                & .btn {
                    margin-right: 0;
                    position: relative;
                    padding: 12px 16px 12px 20px;
                    height: 40px;
                    border-radius: 8px;
                    line-height: normal;

                    &:after {
                        margin-left: 7px;
                    }
                }

                & menu.dropdown-menu {
                    border-radius: 8px;
                }
            }
        }

        .b-view-content {
            height: calc(100% - 77px);
        }
    }

    .tabs>label {
        text-align: center;
        border: unset;
    }

    .b-list-toolbar {
        margin-bottom: 25px;
        border: unset;
    }

    .control-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        margin-left: 20px;
        margin-bottom: 1.7em;

        & > div {
            margin-left: 0;
        }
    }

    input,
    textarea,
    select {
        width: 100%;
        max-height: 100px;
        margin-left: 0;
        border: 1px solid #E6E6E6;
        border-radius: 8px;
        padding: 12px 12px 12px 12px;
        height: unset;
        color: black;
        resize: none;
    }

    label {
        text-align: left;
        margin-bottom: 8px;
    }

    .e-checkbox span {
        margin-left: 10px;
    }

    & input+div[role="checkbox"] {
        border: unset !important;
        background-image: url("/themes/forbion/images/snappymail/default-checkbox-tumbler.svg");
        width: 24px !important;
        height: 24px !important;
        transform: unset !important;
        left: 0 !important;
        top: -2px !important;
        right: unset !important;
        bottom: unset !important;
        cursor: pointer;
    }

    & input:checked+div[role="checkbox"] {
        background-image: url("/themes/forbion/images/snappymail/active-checkbox-tumbler.svg") !important;
    }

    .button-save-contact {

        margin-right: 0;
        position: relative;
        padding: 12px 14px 12px 40px;
        color: #FFFFFF;
        height: 40px;
        background: #70B62B;
        border-radius: 8px;
        line-height: normal;
        box-shadow: unset;
        border: unset;

        span {
            margin-left: 0;
        }

        &:before {
            content: '';
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            margin-top: -2px;
            width: 20px;
            height: 20px;
            background-image: url("/themes/forbion/images/arrow-btn.svg");
            background-repeat: no-repeat;
        }

        i {
            display: none;
        }
    }
}