/* DEFAULT FORBION */

#body-login,
#body-settings {
    --color-primary-element: #5e922b;
    --color-primary-element-hover: #68a230;
    --color-background-plain: #f0f2f5;
    --image-background: none;
}


html {

    &.no-scroll {
        overflow: hidden;
    }
}

*::selection {
    background: rgb(179, 215, 255) !important;
    color: rgb(0, 0, 0) !important;
}

*::-moz-selection {
    background: rgb(179, 215, 255) !important;
    color: rgb(0, 0, 0) !important;
}

*,
*::before,
*::after {
    outline: none !important;
}

html {
    background: #F5F5F5;
}

* {
    --color-success: #70B62B !important;
    --color-success-hover: #70B62B !important;
    --color-primary-element-text: white !important;
}

#body-login .logo {
    width: 307px !important;
    height: 130px;
    filter: unset !important;
}

#body-login .icon-search, body .icon-search-dark {
    background-image: var(--icon-search-white) !important;
}
#body-login .guest-box, .body-login-container {
    --color-text-maxcontrast: black;
    --color-main-text: black;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px #00000021;
    -webkit-backdrop-filter: var(--filter-background-blur);
    backdrop-filter: var(--filter-background-blur);
}

body#body-user {
    position: relative;
    background: #F5F5F5;
}
#content {
    height: calc(var(--body-height) - 92px);
}
#content-vue {
    width: 100%;
    max-width: 100%;
    max-height: calc(100vh - 92px);
    min-height: 820px;
    padding: 25px 25px 15px;
    margin: 0 auto;
    position: relative;
}

#content-vue #app-content-vue {
    background: #F5F5F5;
}

#content-vue #app-content-vue button.button-vue--vue-secondary {
    /*padding: 3px 17px 3px 6px;*/
    background: #70B62B;
    color: #ffffff;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    transition: opacity .3s;
}

#content-vue #app-content-vue button.button-vue--vue-secondary:hover {
    opacity: .75;
}

#content-vue #app-content-vue .material-design-icon.plus-icon {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 18px;
    height: 20px;
}

#content-vue #app-content-vue .material-design-icon.plus-icon svg {
    display: none;
}

#content-vue #app-content-vue .material-design-icon.plus-icon:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url("/themes/forbion/images/new-plus.svg");
    background-repeat: no-repeat;
}

#content-vue #app-content-vue button.button-vue--vue-secondary .button-vue__text {
    margin-left: 2px;
    margin-bottom: 0;
}

#content-vue .splitpanes.default-theme .splitpanes__pane-list {
    margin: 0 8px;
    border-radius: 8px;
    background: #ffffff;
}

#content-vue .app-navigation {
    border-radius: 8px;
}

#content-vue .splitpanes.default-theme .splitpanes__pane-details {
    border-radius: 8px;
    background: #ffffff;
}

#content-vue .splitpanes__splitter {
    display: none;
}

#content-vue .app-content__empty {
    padding: 0 25px;
}

#content-vue .empty-content__icon {
    margin-bottom: 20px;
    padding: 45px;
    background: #E0E0E0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

#content-vue .empty-content__name {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 14px;
}

#content-vue .empty-content__action {
    margin-top: 0;
}

#content-vue .app-navigation.app-navigation--close + .app-content .splitpanes.default-theme .splitpanes__pane-list {
    margin-left: 0;
}

#content-vue .app-navigation.app-navigation--close {
    background: transparent;
}

#content-vue .app-navigation.app-navigation--close #app-navigation-vue {
    opacity: 0;
}


.material-design-icon.folder-icon.thumbnail:after {
    background-image: url('/themes/forbion/images/files-black.svg') !important;
    content: '';
    width: 100%;
    height: 100%;
    min-height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.material-design-icon.folder-icon.thumbnail > svg {
    display: none;
}
.material-design-icon.folder-icon.thumbnail:after {
    background-image: url('/themes/forbion/images/files-black.svg') !important;
    content: '';
    width: 100%;
    height: 100%;
    min-height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.material-design-icon.folder-icon.thumbnail > svg {
    display: none;
}

@media only screen and (max-width: 1023px) {
    #content-vue {
        padding: 20px !important;
        width: auto;
        max-width: unset;
        height: calc(100% - 67px);
        min-height: 500px;
        max-height: 900px;
    }
}

/*userprofile*/

.app-profile {
    .profile__header[data-v-8ecdffca] {
        position: absolute;
        top: 140px;
        width: 100%;
        height: unset;

        & .profile__header__container[data-v-8ecdffca] {
            display: flex;
            justify-content: center;

            & .profile__header__container__displayname {
                margin-block: 200px 0;
                display: flex;
                justify-content: center;
                margin-right: 20px;
                & > a {
                    display: none;
                }
            }
        }
    }
    .profile__wrapper[data-v-8ecdffca] {

        & .profile__content {
            & .profile__sidebar {
                /*position: relative;*/
                /*padding-top: 260px;*/
                width: 100%;
                margin-bottom: 180px;
                margin-top: 120px;

                & .user-actions[data-v-8ecdffca] {
                    margin-top: 70px;
                    display: none;
                }
            }
            & .profile__blocks[data-v-8ecdffca] {
                margin: 20px 0 80px 0;

                & .empty-content[data-v-fede0c71] {
                    margin-top: 50px;

                    & .empty-content__icon {
                        & .material-design-icon.account-icon {
                            & > svg {
                                display: none;
                            }
                            &:after {
                                background-image: url('/themes/forbion/images/user-big.png') !important;
                                content: '';
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                width: 90px;
                                height: 90px;
                            }
                        }
                    }
                }
            }
        }
    }


}

.poll-card {
    max-width: 100% !important;
}

.v-popper__wrapper .searchable-list__wrapper {
    width:unset !important;
}

.searchable-list__list .button-vue__text{
    margin-bottom: 10px;
    margin-left: 20px;
}
.searchable-list__list .button-vue--vue-tertiary{
    margin-bottom: 10px;
}

.input-field__main-wrapper .input-field__label{
    display: none;
}
/*.input-field__main-wrapper .input-field__icon--leading{
    top: 5px;
}
.input-field__main-wrapper .input-field__input{
   height: 30px !important;
}*/

.modal-mask {

    & .unified-search-modal__header {

        & .input-field {

            height: 40px;

            & .input-field__main-wrapper {

                height: 40px;

                & input {

                    height: 40px !important;

                }
            }
        }

        & .unified-search-modal__filters {
            margin-top: 8px;

            & > div {

                & button {
                    background: rgb(112, 182, 43) !important;
                    transition: opacity .2s;

                    &:hover {
                        background: rgb(112, 182, 43) !important;
                        opacity: .75 !important;
                    }
                }

                & .button-vue__icon {
                    svg {
                        fill: #ffffff;
                    }
                }

                & .button-vue__text {
                    color: #FFFFFF !important;
                }
            }
        }

        & .unified-search-modal__filters-applied {

            & .chip {

                background: rgb(112, 182, 43) !important;
                transition: opacity .2s;
            }
        }

        & .text {
            color: #FFFFFF;
        }
    }

    & .unified-search-custom-date-modal {

        h1 {
            margin-bottom: 16px;
        }

        & .unified-search-custom-date-modal__pickers {

            & input {
                height: 40px !important;
            }
        }

        & .unified-search-custom-date-modal__footer {
            margin-top: 25px !important;
        }

        .button-vue {
            background-color: rgb(112, 182, 43) !important;

            & .button-vue__icon {
                svg {
                    fill: #ffffff;
                }
            }

            & .button-vue__text {
                color: #FFFFFF !important;
            }
        }
    }
}