@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/raleway-medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/ralewayt.ttf');
    font-weight: 600;
}

body {
    font-family: 'Raleway';
    font-weight: 500;
    font-variant-numeric: lining-nums;
}

input,
input::placeholder,
textarea,
textarea::placeholder,
button,
p,
*::after,
*::before {
    font-family: 'Raleway';
    font-weight: 500;
    font-variant-numeric: lining-nums;
}