.dialog__modal[data-v-e79a4708] .modal-wrapper .modal-container {
    padding: 50px 20px 26px !important;
}

.dialog__modal[data-v-e79a4708] .modal-wrapper .modal-container .dialog__name {
    text-align: left;
    font-size: 18px;
    line-height: 20px;
}

.dialog__modal[data-v-e79a4708] .modal-inner--content {
    padding: 0;
}

.dialog__modal[data-v-e79a4708] .modal-inner--content .modal-inner--field {
    padding: 0;
}

.dialog__modal[data-v-e79a4708] .modal-inner--content .modal-inner--field:last-child {
    margin-top: 22px;
}

.dialog__modal[data-v-e79a4708] .modal-inner--content .modal-inner--field>label {
    width: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
}

.dialog__modal[data-v-e79a4708] .modal-inner--content .modal-inner--field .modal-inner--container {
    width: calc(100% - 80px);
    min-height: 44px;
}

.dialog__modal[data-v-e79a4708] .button-vue--vue-primary[data-v-c3d9e0ce] {
    background-color: #70B62B !important;
    transition: .3s;
}

.dialog__modal[data-v-e79a4708] .button-vue--vue-primary[data-v-c3d9e0ce]:hover {
    opacity: .75;
}

.dialog__modal[data-v-e79a4708] .button-vue--vue-primary[data-v-c3d9e0ce] svg {
    fill: #ffffff;
}

.dialog__modal[data-v-e79a4708] .button-vue--vue-secondary[data-v-c3d9e0ce] {
    background-color: #F0F1F4 !important;
    transition: .3s;
}

.dialog__modal[data-v-e79a4708] .button-vue--vue-secondary[data-v-c3d9e0ce]:hover {
    opacity: .75;
}

.dialog__modal[data-v-e79a4708] .modal-inner--content .modal-inner--field .modal-inner--container.marked-as {
    width: 100%;
    flex-wrap: nowrap;
}

.dialog__modal.search-modal input.search-input {
    border: 1px solid #E6E6E6 !important;
    border-radius: 8px;
    cursor: text;
    font-size: 14px;
    height: 38px !important;
    color: #000000;
}

.dialog__modal.search-modal input.search-input::placeholder {
    color: #808080;
}

.dialog__modal.search-modal .modal-inner--content {
    overflow-y: auto;
    overflow-x: auto;
}

.dialog__modal.search-modal .checkbox-content__text.checkbox-radio-switch__text {
    padding-left: 24px;
    font-size: 14px;
    line-height: 20px;
    height: 18px;
    font-weight: 400;
    color: #000000;
}

.dialog__modal.search-modal .modal-inner--content .marked-as {
    margin-top: 10px;
}

.dialog__modal.search-modal .modal-inner--content .marked-as .modal-inner-inline {
    width: auto;
}

.dialog__modal.search-modal .modal-inner--content .marked-as .checkbox-radio-switch__icon {
    position: relative;
}

.dialog__modal.search-modal .modal-inner--content .marked-as .checkbox-radio-switch__icon span {
    display: none;
}

.dialog__modal.search-modal .modal-inner--content .marked-as .checkbox-radio-switch__icon::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    border: 2px solid #808080;
    height: 14px;
    width: 14px;
    border-radius: 3px;
}

.dialog__modal.search-modal .modal-inner--content .checkbox-content__icon.checkbox-content__icon--checked::after {
    content: '';
    position: absolute;
    top: -4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-image: url("/themes/forbion/images/confirm.svg");
    background-repeat: no-repeat;
    z-index: 1;
}

.dialog__modal.search-modal .modal-inner--content .checkbox-content__icon.checkbox-content__icon--checked::before {
    background: #70B62B;
    border-color: #70B62B;
}

.dialog__modal.search-modal .checkbox-radio-switch__content {
    background: unset !important;
}

.dialog__modal.search-modal .dialog__actions {
    padding-right: 2px;
}

.dialog__modal.search-modal .dialog__actions button .button-vue__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.dialog__modal.search-modal .dialog__actions button {
    width: 100%;
    max-width: 130px;
    height: 40px;
}

.dialog__modal.search-modal .dialog__actions button:first-child .button-vue__text {
    color: #000000;
}

.dialog__modal.search-modal .dialog__actions button:nth-child(2) .button-vue__text {
    color: #ffffff;
}

.dialog__modal.search-modal .dialog__actions button .button-vue__icon {
    min-height: unset;
    min-width: unset;
    width: 17px;
    height: 15px;
    margin-right: 8px;
}

.dialog__modal.search-modal .dialog__actions button:first-child .icon-vue {
    position: relative;
}

.dialog__modal.search-modal .dialog__actions button:first-child .icon-vue svg {
    display: none;
}

.dialog__modal.search-modal .dialog__actions button:first-child .icon-vue:before {
    content: '';
    width: 22px;
    height: 22px;
    background-image: url("/themes/forbion/images/clear.svg");
    background-repeat: no-repeat;
    z-index: 1;
}

.dialog__modal.search-modal .dialog__actions button:first-child .button-vue__icon {
    margin-right: 12px;
    margin-left: 6px;
}

.dialog__modal.search-modal .native-datetime-picker label[data-v-40e61767] {
    display: none;
}

.dialog__modal.search-modal .vs__open-indicator-button .chevron-down-icon {
    position: relative;
}

.dialog__modal.search-modal .vs__open-indicator-button .chevron-down-icon svg {
    display: none;
}

.dialog__modal.search-modal .vs__open-indicator-button .chevron-down-icon:after {
    content: '';
    width: 25px;
    height: 25px;
    background-image: url("/themes/forbion/images/arrow-select.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.dialog__modal.search-modal .vs__dropdown-toggle {
    border: 1px solid #E6E6E6 !important;
}

body ul.vs__dropdown-menu {
    color: #000000 !important;
    padding: 10px 10px 15px !important;
    border-bottom: 1px solid #E6E6E6 !important;
    border-right: 1px solid #E6E6E6 !important;
    border-left: 1px solid #E6E6E6 !important;
}

.dialog__modal.search-modal .v-select.select .vs__selected-options {
    padding: 1px 5px;
    height: 36px;
}

.dialog__modal.search-modal .v-select .vs__selected {
    background: #70B62B;
    padding: 12px 30px 12px 20px;
}

.dialog__modal.search-modal .v-select .vs__selected .name-parts {
    color: #ffffff;
    font-size: 14px;
}

.dialog__modal.search-modal .v-select .vs__selected .vs__deselect .close-icon {
    position: relative;
}

.dialog__modal.search-modal .v-select .vs__selected .vs__deselect .close-icon svg {
    display: none;
}

.dialog__modal.search-modal .v-select .vs__selected .vs__deselect .close-icon:after {
    content: '';
    position: absolute;
    top: -8px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-image: url("/themes/forbion/images/close.svg");
    background-repeat: no-repeat;
    transform: scale(0.7);
}

.dialog__modal.search-modal .vs__selected .tag-group__bg {
    background: unset !important;
}

.dialog__modal.search-modal .vs__selected .tag-group__label {
    color: #ffffff !important;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
}

.dialog__modal.search-modal .modal-container__close .close-icon {
    position: relative;
}

.dialog__modal.search-modal .modal-container__close .close-icon svg {
    display: none;
}

.dialog__modal.search-modal .modal-container__close .close-icon:after {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    background-image: url("/themes/forbion/images/close.svg");
    background-repeat: no-repeat;
    transform: scale(1);
}

.dialog__modal.search-modal input.native-datetime-picker--input {
    position: relative;
    padding: 1px 15px 1px 12px;
    border: 1px solid #E6E6E6 !important;
    border-radius: 8px;
    cursor: text;
    font-size: 14px;
    color: #000000;
    height: 38px !important;
}

.dialog__modal.search-modal input.native-datetime-picker--input::placeholder {
    color: #808080;
}

.dialog__modal.search-modal input.native-datetime-picker--input:after {
    /*content: '';*/
    position: absolute;
    top: -1px;
    right: 0;
    width: 50px;
    height: 38px;
    background-image: url("/themes/forbion/images/calendar.svg");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
    pointer-events: none;
}

.dialog__modal.search-modal input.native-datetime-picker--input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.dialog__modal.search-modal .range .modal-inner-inline input.native-datetime-picker--input:before {
    position: absolute;
    display: flex;
    align-items: center;
    width: 130px;
    height: 36px;
    top: 0;
    left: 12px;
    color: #808080;
    background-color: #ffffff;
    white-space: nowrap;
    font-size: 14px;
}

.dialog__modal.search-modal .range .modal-inner-inline:first-child input.native-datetime-picker--input:before {
    content: 'Дата начала';
}

.dialog__modal.search-modal .range .modal-inner-inline:last-child input.native-datetime-picker--input:before {
    content: 'Дата окончания';
}

.dialog__modal.search-modal input.native-datetime-picker--input.is-set-value:before {
    display: none !important;
}

.dialog__modal.search-modal .modal-inner--content .modal-inner--field .modal-inner--container.marked-as {
    margin-left: -4px;
}

.dialog__modal.search-modal .modal-header,
.modal-mask .modal-header[data-v-cc9100bb]{
    display: none !important;
}

.dialog__modal.search-modal .modal-wrapper .modal-container {
    top: unset !important;
    height: unset !important;
    width: 90% !important;
}

.dialog__modal.search-modal .modal-wrapper .modal-container {
    max-width: 600px;
}

.modal-mask[data-v-cc9100bb] .toolbar {
    display: none;
}

.modal-mask[data-v-cc9100bb] .modal-container {
    padding: 50px 20px 26px !important;
    max-width: 600px;
}

.modal-mask[data-v-cc9100bb] .composer-fields[data-v-12b95150] {
    padding: 0;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #E6E6E6;
}

.modal-mask[data-v-cc9100bb] .composer-fields[data-v-12b95150] .vs__dropdown-toggle {
    border: unset;
}

.modal-mask[data-v-cc9100bb] .composer-fields[data-v-12b95150] .composer-fields--custom {
    width: 100%;
}

.modal-mask[data-v-cc9100bb] .composer-fields[data-v-12b95150] .from-label {
    min-width: min-content;
}

.modal-mask[data-v-cc9100bb] .composer-fields[data-v-12b95150] .composer-fields__label,
.modal-mask[data-v-cc9100bb] .composer-fields[data-v-12b95150] .from-label {
    padding-bottom: 8px;
    width: 40px;
    margin-right: 15px;
}

.composer-fields .composer-fields--custom .select[data-v-12b95150] {
    margin-bottom: 0;
}

.modal-mask[data-v-cc9100bb] .composer-fields[data-v-12b95150]:not(.message-editor) {
    margin-bottom: 24px;
}

.modal-mask[data-v-cc9100bb] .composer-fields[data-v-12b95150].message-editor {
    border: unset;
    margin-top: 16px;
}

.modal-mask[data-v-cc9100bb] .composer-fields[data-v-12b95150] .editor {
    padding: 16px;
    overflow: auto;
    border: 1px solid #E6E6E6 !important;
    border-radius: 4px;
}

.modal-mask[data-v-cc9100bb] .button-vue[data-v-c3d9e0ce][type="submit"] {
    background: #70B62B;
    width: 130px;
    height: 40px;
    transition: opacity .3s;
}

.modal-mask[data-v-cc9100bb] .button-vue[data-v-c3d9e0ce][type="submit"]:not(:disabled):hover {
    opacity: .75;
}

.dialog__modal.app-settings .modal-wrapper .modal-container .dialog__name {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.dialog__modal.app-settings .modal-wrapper .modal-container .navigation-list {
    width: 270px;
}

.dialog__modal.app-settings .modal-wrapper .modal-container .navigation-list .navigation-list__link {
    height: auto;
    white-space: normal;
    padding: 8px 10px;
}

.dialog__modal.app-settings .modal-wrapper .modal-container .navigation-list > li:not(:first-child) {
    margin-top: 8px;
}

.dialog__modal.app-settings .modal-wrapper .modal-container .navigation-list .navigation-list__link span {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.dialog__modal.app-settings .modal-wrapper .modal-container .navigation-list .navigation-list__link--active {
    background-color: #70B62B !important;
}

.dialog__modal.app-settings .modal-wrapper .modal-container .navigation-list .navigation-list__link--active span {
    color: #FFFFFF;
}

.dialog__modal.app-settings .modal-wrapper .modal-container .app-settings__navigation {
    margin-right: 60px;
}

.dialog__modal .input-field.file-picker__filter-input input {
    padding: 10px 12px;
    height: auto !important;
    border: 1px solid #D9D9D9 !important;
}

.dialog__modal .file-picker__navigation {
    width: 230px;
}

.dialog__modal .input-field.file-picker__filter-input .input-field__main-wrapper {
    height: auto;
}

.dialog__modal .input-field.file-picker__filter-input .input-field__main-wrapper input:not(:focus) + .input-field__label {
    left: -17px;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.dialog__modal .input-field.file-picker__filter-input .input-field__main-wrapper input:not(:placeholder-shown) + .input-field__label,
.dialog__modal .input-field.file-picker__filter-input .input-field__main-wrapper input:focus + .input-field__label {
    top: -10px;
    left: -17px;
    transform: unset;
}

.dialog__modal .input-field.file-picker__filter-input .input-field__icon .magnify-icon {
    position: relative;
}

.dialog__modal .input-field.file-picker__filter-input .input-field__icon .magnify-icon svg {
    display: none;
}

.dialog__modal .dialog.file-picker {
    margin-top: -40px;
}

.dialog__modal .dialog.file-picker .dialog__actions {
    width: 150px;
    height: 40px;
    margin: 0 0 0 auto;
}

.dialog__modal .dialog.file-picker .dialog__actions button {
    height: 100%;
    width: 100%;
}

.dialog__modal .dialog.file-picker .dialog__actions .button-vue__text {
    color: #FFFFFF;
    font-weight: 500;
    padding-left: 30px;
    position: relative;
}

.dialog__modal .dialog.file-picker .dialog__actions .button-vue__text:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/themes/forbion/images/arrow-btn.svg");
    background-repeat: no-repeat;
    width: 23px;
    height: 18px;
}

.dialog__modal .dialog.file-picker .button-vue .button-vue__text {
    margin-bottom: 0;
}

.dialog__modal .dialog.file-picker .file-picker__side button.button-vue .button-vue__text {
    transition: .2s;
}

.dialog__modal .dialog.file-picker .file-picker__side button.button-vue--vue-primary .button-vue__text {
    color: #FFFFFF;
}

.dialog__modal .dialog.file-picker .file-picker__side button.button-vue svg {
    transition: .2s;
}

.dialog__modal .dialog.file-picker .file-picker__files {
    margin-left: 0;
    overflow-x: auto;
}

.dialog__modal .dialog.file-picker .file-picker__files .file-picker__header-preview {
    display: none;
}

.dialog__modal .dialog.file-picker .file-picker__files .row-name .button-vue {
    padding-left: 5px;
}

.dialog__modal .dialog.file-picker :not(.dialog__actions) .button-vue--vue-primary:hover {
    opacity: 1;
}

.dialog__modal .dialog.file-picker .empty-content__description {
    text-align: center;
}

.dialog__modal .app-settings__content .alias-form div[data-v-6170a598]:not(.alias-form__actions) {
    color: #808080;
    font-size: 14px;
    line-height: 20px;
}

.dialog__modal .app-settings__content section {
    margin-bottom: 44px;
}

.dialog__modal .app-settings__content section:last-child {
    margin-bottom: 0;
}

.dialog__modal .app-settings__content .material-design-icon {
    position: relative;
}

.dialog__modal .app-settings__content .material-design-icon:not(.toggle-switch-icon,.toggle-switch-off-icon, .minus-box-icon) svg {
    display: none;
}

.dialog__modal .app-settings__content .material-design-icon:before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.dialog__modal .app-settings__content .material-design-icon.pencil-icon:before {
    background-image: url("/themes/forbion/images/pencil-icon-black.svg");
}
.dialog__modal .app-settings__content .material-design-icon.microphone-icon.media-devices-selector__icon:before {
    background-image: url("/themes/forbion/images/mic.svg");
}
.dialog__modal .app-settings__content .material-design-icon.video-icon.media-devices-selector__icon:before {
    background-image: url("/themes/forbion/images/vid.svg");
}
.dialog__modal .app-settings__content .material-design-icon.radiobox-blank-icon:before {
    background-image: url("/themes/forbion/images/radio-box.svg");
    top: 3px;
    left: 10px;
}
.dialog__modal .app-settings__content .material-design-icon.emoticon-outline-icon:before {
    background-image: url("/themes/forbion/images/smile.svg");
}
.dialog__modal .app-settings__content .material-design-icon.upload-icon:before {
    background-image: url("/themes/forbion/images/upload.svg");
}
.dialog__modal .app-settings__content .material-design-icon.folder-icon:before {
    background-image: url("/themes/forbion/images/folder.svg");
}
.dialog__modal .app-settings__content .material-design-icon.delete-icon:before {
    background-image: url("/themes/forbion/images/delete.svg");
}
.dialog__modal .app-settings__content .material-design-icon.palette-icon:before {
    background-image: url("/themes/forbion/images/palette.svg");
}
@media only screen and (max-width: 1023px) {
    .dialog__modal .dialog.file-picker .file-picker__side[data-v-b42054b8] {
        flex-direction: column;
        min-width: 200px;
        margin-top: 0;
    }
    .dialog__modal .dialog.file-picker {
        height: 100% !important;
    }
    .dialog__modal .dialog.file-picker .dialog__actions {
        padding-right: 0;
    }
    .dialog__modal .dialog.file-picker .dialog__wrapper {
        display: flex;
        flex-direction: column;
    }
    .dialog__modal .dialog.file-picker .dialog__wrapper .file-picker__navigation {
        height: unset;
        min-width: unset;
        overflow: auto;
        margin: 0 0 20px 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column !important;
    }
    .dialog__modal .dialog.file-picker .dialog__wrapper .file-picker__navigation .file-picker__filter-input {
        max-width: 100%;
    }
    .dialog__modal .dialog.file-picker .dialog__wrapper .file-picker__content {
        flex: unset;
        min-height: unset;
        padding: 0;
    }
    .dialog__modal .dialog.file-picker .dialog__wrapper .empty-content {
        padding-bottom: 50px;
    }
    .dialog__modal[data-v-e79a4708] .modal-wrapper .modal-container {
        max-width: 90%;
        width: 900px;
        max-height: min(90%, 100% - 2* var(--header-height));
        position: relative;
        height: unset;
        top: unset;
        border-right: 8px;
    }
}

@media only screen and (max-width: 660px) {
    .dialog__modal.search-modal {
        min-height: 700px;
    }
    .dialog__modal.search-modal .modal-wrapper .modal-container {
        padding: 30px 20px 16px !important;
    }
    .dialog__modal.search-modal .modal-inner--content .modal-inner--field .modal-inner--container.marked-as {
        flex-direction: column;
        margin-top: 4px;
    }
    .dialog__modal.search-modal .dialog__content {
        padding: 0 !important;
    }
    .dialog__modal.search-modal .modal-inner--field {
        margin-bottom: 8px;
    }
    .dialog__modal.search-modal .modal-inner--content .modal-inner--field .modal-inner--container {
        width: calc(100% - 70px);
    }
    .dialog__modal.search-modal .v-select.select {
        min-width: 150px;
    }
    .dialog__modal.search-modal .dialog__actions {
        margin-top: 16px;
    }
    .dialog__modal[data-v-e79a4708] .modal-inner--content .modal-inner--field:last-child {
        margin-top: 14px;
    }
}